.pokemonCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f6f7fa;
  height: 250px;
  width: 150px;
  border-radius: 8px;
  padding: 20px;
}

.pokemonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.pokemonContainer img {
  margin-bottom: 15px;
}
.pokemonContainer h3 {
  margin-bottom: 5px;
}

.pokemonContainer p {
  color: #5e5f7d;
}

.pBusca {
  margin-bottom: 20px;
}
