@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: #fff;
}

h1,
h2,
h3 {
  color: #5e5f7d;
}

p {
  color: #cdcddb;
  font-size: 0.85rem;
}

img {
  display: block;
  max-width: 100%;
}
